PORT = 8000
CORS_ORIGIN = *
DOMAIN = "http://localhost:3000"
COOKIE_DOMAIN = "http://localhost:8000"


MONGODB_URI = ""

SECRET = ""
TEMP_TOKEN_EXPIRY = "15m"
REFRESH_TOKEN_EXPIRY = "1h"
ACCESS_TOKEN_EXPIRY = "10d"

RESEND_API_KEY =  ""

GEMINI_API_KEY = ""

GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GOOGLE_REDIRECT_URI = ""

GMAIL_REDIRECT_URI = ""
